body {
    font-family: "Open Sans", serif;
    font-size: small;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    background-color: #FBFBFB;
}

label {
    font-weight: bold;
    padding-right: 5px;
}

#mainTable {
    width: 100%;
}

#contextTypes {
    display: inline-block;
}

#divLicenses {
    display: none;
    border: 1px solid black;
}

#tableListCommands {
    width: 100%;

}

.note {
    font-size: small;
}

th {
    text-align: center;
}

td {
    text-align: justify;
}

#tableListCommands tr:nth-child(even) {
    background-color: #dddddd;
}